.App {
  text-align: center;
}
body{
  background-color: #282c34;
  color: aliceblue;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100px;
}
button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff; /* Blue color, change as needed */
  color: #fff; /* Text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3; /* Darker blue color on hover, change as needed */
}

.row {
  display: flex;
  width: 100%;
}

.col {
  width: 25px; /* Adjust as needed */
  height: 25px; /* Adjust as needed */
  border: 1px solid #1f1c1c; /* Border for each cell */
  text-align: center; /* Center the content */
  line-height: 25px; /* Center vertically */
  font-size: 14px; /* Adjust font size */
}

.row:nth-child(odd) .col:nth-child(odd),
.row:nth-child(even) .col:nth-child(even) {
  background-color: #f2f2f2; /* Alternate background color for even rows and columns */
  color: #1f1c1c;
}

.row:nth-child(odd) .col:nth-child(even),
.row:nth-child(even) .col:nth-child(odd) {
  color: white;
  background-color: #212020; /* Alternate background color for odd rows and columns */
}
.container {
  margin-top: 5%;
  margin-left: 42%;
  place-items: center; /* Center both horizontally and vertically */
  height: 100vh; /* Adjust as needed */
}
